* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.container {
    width: 1300px;
    margin: auto;
}
.container > h1 {
    padding: 20px;
    text-align: center;
}

.content {
    display: flex;
}

.container {
    margin: 10px;
    position: relative;
}

#showcase {
    background-image: url(imagen/Showcase3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 800px;
    height: 550px;
    margin: auto;
    position: relative;
    right: 150px;
   
}

.content {
    display: flex;
}

#wine {
    width: 195px;
    height: 93px;
    position: absolute;
    top: 128px;
    right: 150px;
    margin-top: 20px;
}

#peanutButter {
    width: 270px;
    height: 93px;
    position: absolute;
    top: 180px;
    left: 178px;
}

#bread {
    width: 242px;
    height: 73px;
    position: absolute;
    top: 55px;
    left: 180px;
}

#flour {
    width: 200px;
    right: 173px;
    position: absolute;
    top: 55px;
}

#milk {
    width: 190px;
    right: 163px;
    position: absolute;
    top: 270px;
}

#rice {
    width: 170px;
    right: 165px;
    position: absolute;
    top: 395px;
}

#water {
    width: 120px;
    left: 170px;
    position: absolute;
    top: 365px;
}

#chips {
    width: 170px;
    position: absolute;
    left: 295px;
    top: 385px;
}

#ketchup {
    width: 125px;
    position: absolute;
    left: 190px;
    top: 270px;
}

#oil {
    width: 140px;
    position: absolute;
    left: 313px;
    top: 260px;
}

#shoppingCar {
    width: 200px;
    position: absolute;
    right: -90px;
    top: 80px;
}

#total {
    position: absolute;
    right: -120px;
    top: 90px;
}

.vinos {
    width: auto;
    height: 80px;
    margin-top: 8px;
    cursor: move;
}

.peanut {
    height: 50px;
    width: auto;
    object-fit: contain;
    margin-top: 7px;
    cursor: move;
}

.bread {
    height: 40px;
    width: auto;
    object-fit: contain;
    margin-top: 30px;
    cursor: move;
}

.flour {
    height: 50px;
    width: auto;
    object-fit: contain;
    margin-top: 20px;
    cursor: move;
}

.milk {
    height: 60px;
    width: auto;
    object-fit: contain;
    margin-top: 10px;
    cursor: move;
}

.rice {
    height: 50px;   
    width: auto;
    object-fit: contain;
    margin-top: 10px;
    cursor: move;
}

.water {
    height: 70px;
    width: auto;
    object-fit: contain;
    margin-top: 20px;
    cursor: move;
}

.chip {
    height: 50px;
    width: auto;
    object-fit: contain;
    margin-top: 22px;
    cursor: move;
}

.ketchup {
    height: 60px;
    width: auto;
    object-fit: contain;
    margin-top: 10px;
    cursor: move;
}

.oil {
    height: 60px;
    width: auto;
    object-fit: contain;
    margin-top: 20px;
    cursor: move;
}

.car {
    width: 300px;
    padding: 80px;
    overflow: hidden;
}

.text-right {
    font-style: oblique;
    font-size: xx-large;
}

.btn-remove {
    width: 90px;
    border-radius: 12px;

}
